.class-skills {
    margin: 0px;
    padding: 0px;
}

.class-skills .class-skill {
    margin: 32px 0px;
}

.class-skills .class-skill h2 {
    margin: 0px;
}

.class-skills .class-skill h4 {
    margin: 0px;
    margin-bottom: 16px;
    font-weight: 500;
}

.class-skills .class-skill div {
    line-height: 1.5;
}