.student-history .event {
    display: grid;

    grid-template-columns: 30% 70%;

    align-items: center;

    margin: 16px 0px;
}

.student-history .action {
    font-size: 28px;
    font-weight: bold;
}

.student-history .action::first-letter {
    text-transform: capitalize;
}

.student-history .info header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: grey;
}

.student-history .info header .class {
    text-align: end;
}