section.section-link {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 32px;

    margin: 16px 0px;

    padding: 32px;

    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

    transition: background-color 0.2s;
}

section.section-link:hover {
    background-color: #f7f5fc;
    cursor: pointer;
}

section.section-link > svg {
    stroke: grey !important;
    justify-self: end;
    align-self: center;
    margin: 0px;
}