html, body {
    margin: 0px;
}

.App {
    height: 100vh;
}

*:focus {
    outline: 5px solid rgba(60, 177, 255, 0.35);
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button {
    padding: 24px 48px;
    border: 0px;

    color: white;
    background-color: #3F00FF;
    box-shadow: 0px 0px 20px #4000ff96;
    border-radius: 15px;
    font-size: 14px;

    transition: background-color 0.2s;
}

button.secondary {
    background-color: #eceaf0;
    box-shadow: 0px 0px 0px transparent;
    color: black;
}

button:hover {
    cursor: pointer;
    background-color: #3500d3;
}

button.secondary:hover {
    background-color: #d7d3df;
}

button.icon {
    box-sizing: border-box;
    width: 64px;
    height: 64px;

    padding: 0px;

    font-size: 24px;

    font-weight: 200;
}


button.icon svg {
    display: inline;
    width: 20px;
    height: 20px;
    stroke: white;
    vertical-align: middle;
}

button.text {
    display: inline;
    width: unset;
    height: unset;

    background-color: transparent;
    box-shadow: none;

    color: inherit;
    font-size: inherit;

    padding: 0px;
}